@media screen and (max-width: 644px) {
div.header{
	float:none;
	}	
div.inner {
	height: auto;
	margin: 0 auto;
	padding: 0 1%;
	text-align: center;
	width: 98%;
	min-width:50%;
	}
.phone_pc{
	display:none !important;
	}	
.phone_sp{
	display:inline-block !important;
	}	
h1{
	text-align:center;
	}
div.float,
img.float,
a.float,
.float{
	float:none;
	text-align:center;
	margin:7px auto;
	display:inline-block;
	}
img.header_logo{
	height:auto;
	}		
		
div.banner{
	display:none;
	}
div.content_1{
	text-align:left;
	max-width:100%;
	}	
div.content_1 p strong {
    display: inline-block;
    float: left;
    margin-left:4%;
    margin-top: -18px;
	width:96%;
}
div.box_1{
	margin:5px;
	padding-bottom:5px;
	}		
div.aside{
	float:none;
	margin:25px auto;
	}
div.aside_box{
	margin:6px auto;
	}	
	
div.footer_left{
	margin-top:20px;
	}	
div.footer{
	background:url(../images/footer_bg.jpg) repeat left top;
	}	
	
div.menu_footer_2 ul li.menu_1 a{
	background:url(../images/footer_bullet_2.png) no-repeat scroll left center;
	}	
div.menu_footer_2 ul li{
	margin:2px 0 2px 8px
	}	
div.menu_footer_1 {
    padding: 20px 0 16px 20px;
}		
div.menu_footer_2{
	display:block;
	}
dl.index dt{
	float:none;
	margin-bottom:5px;
	background:url(../images/bullet_1.jpg) no-repeat scroll left 4px ;
	}
dl.index dd {
    display:block;
    padding-left: 23px;
	width:auto;
}
div.f_l,
div.menu_footer{
	float:none;
	}	
div.f_l{
	margin-top:30px;
	}
div.menu_footer_1{
	max-width:288px;
	}	
div.menu_footer_1 ul{
	max-width:144px;
	}
div.copyright {
    line-height: 13px;
    padding: 10px 0 70px;
}
/*page*/	
h2,
h3,	
h4{
	width:auto;
	text-align:left;
	display:block;
	}	
h4{
	padding-left:22px;
	
	}	


}