@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
    color: #73523f;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 13px;
	background:#fff;
}
p{
	line-height:1.6;
	}
.clear_fix{
	clear:both;
}
.phone_sp{
	display:none;
	}
img.aside_button:hover,
p.page_top a img:hover,
img.aside_img_3:hover,
img.aside_img_2:hover,
div.box_1 a img:hover,
a.img_button_2 img:hover,.btSli7 a:hover
{
    opacity:0.6;
	filter:alpha(opacity=60); 
}
div.header{
	width:100%;
	height:auto;
	display:inline-block;
	margin:0 auto;
	position:relative;
	z-index:200;
	border-top:4px solid #f0831e;
	float:left;
	}
div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:960px;
	max-width:960px;
	position:relative;
	clear:both;
}	
h1{
	font-size:12px;
	text-align:left;
	color:#66402b;
	width:100%;
	display:inline-block;
	margin:10px 0;
	}
img.header_logo{
	float:left;
	max-width:430px;
	width:100%;
	*width:430px;
	height:99px;
	margin-top:10px;
	}	
div.header_info{
	float:right;
	max-width:270px;
	width:100%;
	height:auto;
	margin-top:0px;
	display:inline-block;
	font-size:12px;
	text-align:right;
	}	
div.header_info p{
	width:100%;
	display:inline-block;
	}
div.header_info span{
	color:#f0831e;
	width:100%;
	}				
img.phone_sp{
	display:none;
	}	

/*menu*/
div.nav{	
	width:100%;
	height:55px;
	display:inline-block;
	position:relative;
	z-index:999;
	float:left;
	background:url(../images/bg_menu.jpg) repeat-x left top;
	margin:15px 0 0 0;
	}
div.menu{
	height: auto;
    margin: 0 auto;
    width: 100%;
	height:55px;
	display:block;
	min-width:973px;
	max-width:973px;
	}
div.menu ul{
	margin:1px 0 0 0;
	padding:0;
	background:url(../images/line_menu.jpg) no-repeat right center;
	width:100%;
	display:inline-block;
	height:53px;
	}
div.menu ul li{
	float:left;
	width:133px;
	height:53px;
	background:url(../images/line_menu.jpg) no-repeat left center;
	padding:0 3px;
	}
							
div.menu ul li a{
	width:100%;
	height:53px;
	text-align:center;
	display:block;
	position:relative;
	}	
div.menu ul li a.menu_1:hover img,
div.menu ul li.menu_1 a.active img,
div.menu ul li a.menu_2:hover img,
div.menu ul li.menu_2 a.active img,
div.menu ul li a.menu_3:hover img,
div.menu ul li.menu_3 a.active img,
div.menu ul li a.menu_4:hover img,
div.menu ul li.menu_4 a.active img,
div.menu ul li a.menu_5:hover img,
div.menu ul li.menu_5 a.active img,
div.menu ul li a.menu_6:hover img,
div.menu ul li.menu_6 a.active img,
div.menu ul li a.menu_7:hover img,
div.menu ul li.menu_7 a.active img{
	display:none;
	}
			
div.menu ul li a.menu_1:hover,
div.menu ul li.menu_1 a.active{
	background:url(../images/menu_1_hover.jpg) no-repeat center center;
	}
div.menu ul li a.menu_2:hover,
div.menu ul li.menu_2 a.active{
	background:url(../images/menu_2_hover.jpg) no-repeat center center;
	}
div.menu ul li a.menu_3:hover,
div.menu ul li.menu_3 a.active{
	background:url(../images/menu_3_hover.jpg) no-repeat center center;
	}
div.menu ul li a.menu_4:hover,
div.menu ul li.menu_4 a.active{
	background:url(../images/menu_4_hover.jpg) no-repeat center center;
	}
div.menu ul li a.menu_5:hover,
div.menu ul li.menu_5 a.active{
	background:url(../images/menu_5_hover.jpg) no-repeat center center;
	}
div.menu ul li a.menu_6:hover,
div.menu ul li.menu_6 a.active{
	background:url(../images/menu_6_hover.jpg) no-repeat center center;
	}
div.menu ul li a.menu_7:hover,
div.menu ul li.menu_7 a.active{
	background:url(../images/menu_7_hover.jpg) no-repeat center center;
	}
							
div.menu ul li.menu_4 ul.subNav,
div.menu ul li.menu_3 ul.subNav {
    display: none;
}
div.menu li.menu_4:hover ul.subNav,
div.menu li.menu_3:hover ul.subNav {
    background: none repeat scroll 0 0 #ffc472;
    display: block;
    height: auto;
    margin-left: -3px;
    position: absolute;
    top: 53px;
    width: 141px;
}

div.menu ul li ul.subNav li.subNav {
    height: auto !important;
    margin: 0 !important;
    padding: 10px 0 9px 0;
    text-align: center;
    width: 100%;
	border:none;
	border-bottom:1px solid #d19c5d;
	background:none;
}
div.menu ul li ul.subNav li.subNav_no_b {
	border-bottom:none;
	}
div.menu ul li ul.subNav li.subNav:hover {
    background: url(../images/bg_menu_sub.jpg) no-repeat center center;
	}
div.menu ul li ul.subNav li.subNav a.subNav {
    color: #66402b;
    float: none !important;
    font-size: 14px;
    height: auto !important;
    text-align: center;
	z-index:999999999 !important;
}	
div.menu ul li ul.subNav li.subNav a.subNav:hover {
    color: #ffffff;
}
div.banner{
	width:100%;
	height:394px;
	display:inline-block;
	margin:0px auto;
	position:relative;
	z-index:200;
	background:url(../images/bg_banner.jpg) repeat-x center top;
	text-align:center;
	float:left;
	}
div.slide{
	height:380px;
	width:100%;
	max-width:960px;
	min-width:960px;
	display:block;
	text-align:center;
	margin:0px auto;
	}	
img.banner{
	height:380px;
	width:100%;
	max-width:960px;
	min-width:960px;
	text-align:center;
	margin:0px auto;
	position:relative;
	}		
div.content{
	width:100%;
	max-width:702px;
	height:auto;
	float:left;
	margin-top:25px;
	}	
div.article_index{
	width:100%;
	height:auto;
	text-align:center;
	}	
div.title_1{
	background:url(../images/line_title.jpg) no-repeat left bottom;
	width:100%;
	height:7px;
	display:inline-block;
	text-align:left;
	padding-bottom:22px;
	margin:20px 0 15px 0;
	}	
div.title_1 img{
	margin-left:10px;
	}	
img.img_1{
	float:left;
	}
div.content_1{
	float:right;
	text-align:left;
	max-width:417px;
	width:100%;
	margin-top:-3px;
	margin-bottom:20px;
	}
div.content_1 p{
	width:100%;
	display:inline-block;
	margin-bottom:23px;
	}
div.box_1{
	width:218px;
	height:auto;
	display:inline-block;
	text-align:left;
	border:1px solid #d9d9d9;
	vertical-align:top;
	}
div.box_1 p{
	margin:5px 10px 5px 10px;
	height:115px;
	display:inline-block;
	}
div.box_1 a{
	margin:0px 0 0 10px;
	display:inline-block;
	}		
div.box_2{
	margin:0 16px;
	}	
div.title_3{
	margin:40px 0 15px 0;
	}	
a.img_button_2{
	float:right;
	}	
dl.index{
	display: inline-block;
    height: auto;
    text-align: left;
    width: 100%;
	}	
dl.index dt{
	background: url(../images/bullet_1.jpg) no-repeat left 5px;
    float: left;
    margin-left: 7px;
    padding-left: 15px;
    text-align: left;
	}
dl.index dd {
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-left: 128px;
	background:url(../images/bg_index_dl.jpg) repeat-x left bottom;
}	

/*aside*/	
div.aside {
	float:right;
	width:230px;
	height:auto;
	margin-top:25px;
	text-align:center;
	}	
div.bg_border_r_1{
	width:220px;
	margin:20px 0;
	border:1px solid #e9dfd9;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background:#fffcf8;
	padding:4px;
	display:inline-block;
	}	
div.bg_border_r_2{
	width:198px;
	border:1px solid #e9dfd9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	background:#fff;
	display:inline-block;
	padding:10px;
	}	
div.aside ul{
	width:100%;
	display:inline-block;
	margin:0;
	padding:0;
	}	
div.aside ul li{
	font-size:12px;
	display:inline-block;
	text-align:left;
	background:url(../images/aside_bullet_2.jpg) no-repeat left center;
	width:178px;
	padding-left:15px;
	margin:2px 0 2px 20px
	}
div.aside ul li.li_1{
	font-size:14px;
	border-bottom:1px solid #e9dfd9;
	background:none;
	margin-bottom:5px;
	margin-left:0;
	margin-top:10px;
	padding-left:0;
	}
div.aside ul li.li_1 a{
	background:url(../images/aside_bullet_1.jpg) no-repeat left center;
	padding-left:15px;
	}	
div.aside ul li a{
	color:#66402b;
	}			
div.aside ul li a:hover{
	text-decoration:underline;
	}
img.aside_img_2{
	margin:3px 0 0px 0;
	}
div.bg_border_r_3{
	border:#e9dfd9 4px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:192px;
	height:auto;
	text-align:left;
	padding:15px 15px 10px 15px;
	}	
p.aside_p_1{
	font-size:12px;
	display:inline-block;
	width:100%;
	margin:10px 0;
	}	
.aside_map{
	width:189px;
	height:130px;
	display:inline-block;
	margin:5px 0;	
	}	
img.aside_button{
	margin:5px 0 0px 0px;
	}			
/*footer*/
div.footer{
	background:url(../images/footer_bg.jpg) repeat-x left top;
	margin: 50px auto 0px auto;
    width: 100%;
	display:block;
	height:auto;
	float:left;
	z-index:99;
	position:relative;
	padding-bottom:30px;
	}	

div.f_l{
	float:left;
	max-width:350px;
	width:100%;
	height:auto;
	margin-top:30px;
	text-align:left;
	font-size:12px;
	display:inline-block;
	}
div.f_l p{
	width:100%;
	display:inline-block;
	margin:8px 0 10px 0;
	}	
p.footer_href{
	text-align:right;
	margin-top:10px;
	margin-bottom:20px;
	}
.phone_text{
	color:#7a7a7a;
	}		
.phone_footer{
	font-size:18px;
	}			
div.menu_footer_1{
	border: 1px solid #e7d3c1;
    float: left;
    height: auto;
	margin:30px 0px 0px 40px;
    max-width: 300px;
    padding: 20px 0px 20px 30px;
    text-align: left;
    width: 100%;
}
div.menu_footer_1 ul{
	margin:0;
	padding:0;
	float:left;
	max-width:150px;
	width:100%;
	display:inline-block;
	vertical-align:top;
	}			
div.menu_footer_1 ul li{
	text-align:left;
	margin:3px 0;
	width:100%;
	display:inline-block;
}
div.menu_footer_1 ul li a{
	color: #525260;
	background:url(../images/footer_bullet.png) no-repeat left center;
	padding-left:20px;
	font-size:14px;
	display:inline-block;
}	
div.menu_footer_1 ul li a:hover,
div.menu_footer_2 ul li a:hover{
	text-decoration:underline;
	}	
div.menu_footer_2{
	background:url(../images/footer_bg_r.png) repeat left center;
    float: left;
    height: auto;
	margin:30px 0px 0px 20px;
    max-width: 178px;
    padding: 10px 0 7px 20px;
    text-align: left;
    width: 100%;
	font-size:13px;
}	
div.menu_footer_2 ul{
	margin:0;
	padding:0;
	}
div.menu_footer_2 ul li{
	text-align:left;
	margin:1.5px 0 1.5px 8px;
	width:100%;
	display:inline-block;
	}	
div.menu_footer_2 ul li a {
	color: #525260;
	background:url(../images/footer_bullet.png) no-repeat left center;
	padding-left:20px;
	display:inline-block;
}	
div.menu_footer_2 ul li.menu_1{
	margin:3px 0;
	}
div.menu_footer_2 ul li.menu_1 a{
	background:url(../images/footer_bullet_2.png) no-repeat left 5px;
	font-size:16px;
	padding-left:17px;
	}	
div.copyright{
	background:#f88e01;
	text-align:center;
	padding:8px 0 3px 0;
	font-weight:bold;
	display:inline-block;
	width:100%;
	height:20px;
	color:#ffffff;
	float:left;
	font-size:11px;
	}
/*page*/		
h2{
	background:url(../images/line_title.jpg) no-repeat left bottom;
	height:auto;
	text-align:left;
	padding:0 0 10px 2%;
	margin:20px 0 15px 0;
	font-size: 130%;
    font-weight: bold;
	letter-spacing: 0.15em;
	display:inline-block;
	width:98%;
	}	

.no_margin_top{
	margin-top:0;
	}	
h3{
    border-color: #66a117;
    border-style: dotted dotted dotted solid;
    border-width: 1px 1px 1px 4px;
    clear: both;
    font-size: 120%;
    font-weight: bold;
    height: auto;
    letter-spacing: 0.15em;
    margin: 20px 0 20px 0;
    padding: 10px 1.5%;
    text-align: left;
	display:inline-block;
	width:96%;
	}	
h4{
    background:url(../images/h4.png) no-repeat left 2px;
    clear: both;
    font-size: 120%;
    font-weight: bold;
    height: auto;
    letter-spacing: 0.15em;
    padding: 0 0 0 3%;
    text-align: left;
	display:inline-block;
	width:97%;
	margin: 20px 0;
	}		
#page-top {
    bottom: 20px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    z-index: 500;
}
#page-top a {
    background: #f0831e;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
#page-top a:hover {
	background: #ffb452;
	text-decoration: none;
}	

/* Begin Tuan Anh */
.content_header, .centent_center_infor, .content_center_item {
	width: 100%;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 20px;
}

.content_header p {
	font-size: 15px;
	text-align: center;
}

.content_header ul {
	padding-left: 20px;
	text-align: left;
	list-style-type: circle;
	margin: 0px auto;
}

.content_header .list {
	display: inline-block;
}

.content_header_infor {
	text-align: left;
}

.p_padding_buttom {
	text-align: justify;
	padding-bottom: 20px;
}

.centent_center_infor p {
	text-align: left;
}

.img_float_right {
	float: right;
}

.img_float_left {
	float: left;
}
.text_bold {
	font-weight: bold;
}

.margin_right {
	margin-right: 10px;
}
.text_align_left {
	text-align: left;
	padding-left: 10px;
}

.list_image {
	display: block;
	text-align: left;
	list-style: none;
}
.list_image li {
	display: inline-block;
	padding: 5px;
}

/* -------- facial --------- */
.margin_top {
	margin-top: 10px;
}
.ficial_header {
	width: 80%;
	margin: 0px auto;
	text-align: justify;
	margin-bottom: 20px;
}

.facial_button {
	width: 250px;
	padding: 10px 0;
	margin: 20px auto 0px auto;
	background: #e9dfd9;
	display: block;
}

.facial_item {
	width: 100%;
	display: inline-block;
	margin-bottom: 40px;
	text-align: center;
	overflow: auto;
}

.facial_item img{
	float: left;
	clear: right;
	width: 42%;
}
.facial_item .wrap{
	width: 55%;
	float: left;
	padding-right: 10px;
}
.text_align_left {
	text-align: left;
	margin-bottom: 10px;
}

.text_align_center {
	text-align: center;
	margin-bottom: 10px;
}

.facial_item_button {
	float: right;
	padding: 10px 0;
	margin: 30px 20px 20px 0px;
	width: 200px;
	background: #e9dfd9;
	display: block;
}

.top_page {
	float: right;
	padding: 10px;
	width: 120px;
	display: block;
	background: #e9dfd9;
	margin-right: 10px;
}

/* End Tuan Anh */	