body{
	padding: 0;
	margin: 0;
}

#container {
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

#footer {
	margin: 0 auto;
	display: block;
	background: rgb(9, 17, 56);
	color: #FFFFFF;
	cursor: pointer;
}