body, p, hr, * {
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
h2 {
  color: 
  font-size: 16px;
}
span.dot {
  color: #595959;
}

#container {
  background: #121212;
  overflow: auto;
}

#container #header {
  position: relative;
  height: 340px;
  background: url("images/fill_header.jpg") no-repeat;
}

#container #header #logo {
  position: absolute;
  width: 50%;
  height:90px;
  top: 65px;
  left: 45px;
}

#container #header #logo img {
  float: left;
  clear: right;
}
#container #header #logo h1 {
  float: left;
  clear: none;
  margin-top: 35px;
  font-size: 30px;
}

#container #header nav {
  position: absolute;
  top: 195px;
  left: 70px;
  color: #fff;
  display: flex;
}
#container #header nav a {
  text-decoration: none;
  color: #fff;
}
#container #header nav .span {
  margin-right: 7px;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(29,29,29,1);
  -moz-box-shadow: 0px -2px 5px 0px rgba(29,29,29,1);
  box-shadow: 0px -2px 5px 0px rgba(29,29,29,1);
}

#container #header nav img {
  border-radius: 1px;
}

#container #main {
  width: 740px;
  color: #7e7e7e;
  overflow: auto;
}

#container #main #main_left {
  width: 186px;
  margin-right: 40px;
  float: left;
  clear: right;
  margin-top: 27px;
  background: #1f1f1f;
  margin-left: 70px;
  padding: 44px 25px;
  font-size: 12px;
}

#container #main #main_left .hr_top {
  opacity: 0.5;
}
#container #main #main_left .hr_content {
  opacity: 0.3;
}

#container #main #main_left .p {
  margin-top: 27px;
  overflow: auto;
  margin-bottom: 65px;
}

#container #main #main_left ul {
  margin-top: 30px;
}

#container #main #main_left ul {
  list-style-type: none;
}

#container #main #main_left ul li a {
  color: #7e7e7e;
}

#container #main #main_right {
  width: 394px;
  float: left;
  clear: none;
  font-size: 11.5px;
  padding-top: 30px;
}

#container #main #main_right .item {
  margin-top: 40px;
}

#container #main #main_right .item .infor {
  margin: 20px 0;
  padding: 0 15px 20px 15px;
  border-bottom: 1px dotted #2c2c2c;
}

#container #main #main_right .item .infor input {
  width: 114px;
  hight: 20px;
  background: #2c2c2c;
  border: none;
}

#container #main #main_right .item .infor p {
  margin-top: 15px;
  line-height: 14px;
}
#container #main #main_right .item span a {
  text-decoration: none;
}

#footer {
  padding-left: 70px;
  margin-top: 50px;
  color: #7e7e7e;
}

a {
  color: #7e7e7e;
  text-decoration: underline;
}

#footer #infor {
  padding: 30px 0 50px 0;
  width: 670px;
  border-top: 1px dotted #2c2c2c;
}








