#formAjax {
	width: 550px;
	overflow: auto;
	padding: 10px;
}

#formAjax .table {
	width: 99%;;
}

#formAjax .table .tr {
	height: 40px;
}

#formAjax .table .tr .td1 {
	width: 20%;
	text-align: right;
	font-weight: bold;
}

#formAjax .table .tr .td2 {
	width: 50%;
}

#formAjax .table .tr td input {
	height: 25px;
	width: 95%;
	border-radius: 2px;
	border: none;
	margin-left: 5%;
	box-shadow: 1px 1px 2px #ABEBC6, 0 0 10px #ABEBC6, 0 0 5px #ABEBC6;
}

#formAjax .table .tr button{
	margin-left: 5%;
	height: 30px;
	background: #2471A3;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #5DADE2, 0 0 15px #5DADE2, 0 0 5px #5DADE2;
	text-transform: uppercase;
	color: #fff;
}

#datepicker {
	width: 100%;
	height: 40px;
	position: relative;
}

#datepicker input {
	width: 100%;
	height: 100%;
	font-weight: bold;
	background: none;
}

#datepicker img {
	position: absolute;
	right: 2px;
	top: 0px;
	height: 25px;
}

#calendar table {
	margin-left: 5%;
	font-size: 12px;
	background: #D7DBDD;
	border: 1px solid #85929E;
	border-collapse: collapse;
	box-shadow: 1px 1px 2px #909497, 0 0 10px #7DCEA0, 0 0 5px #FADBD8;
}
#calendar table td {
	width: 25px;
	height: 20px;
	cursor: pointer;
	border: 1px solid #B2BABB;
}

#calendar select {
	font-size: 10px;
	width: 100%;
	height: 100%;
}

#calendar .btn{
	border: 1px solid #909497;
	font-size: 15px;
	text-align: center;
	color: #2E86C1;
	background: #A9CCE3;
}

#calendar #title  {
	color: #7B241C;
	background: #3498DB;
	font-weight: bold;
}

#errorUsername, #errorPassword, #errorEmail, #errorBirthday {
	font-size: 12px;
	font-weight: bold;
	color: red;
	padding-left: 1px;
}